<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhan_dui.evermemo"
    android:versionCode="5"
    android:versionName="1.0.8" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ab_logo"
        android:theme="@style/EverMemo_LightMode" >
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5227d49556240bb56e0b9713" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Wan_Dou_Jia" />

        <provider
            android:name="com.zhan_dui.data.MemoProvider"
            android:authorities="com.zhan_dui.data.MemoContentProvider"
            android:exported="false"
            android:multiprocess="true" >
        </provider>

        <activity
            android:name="com.zhan_dui.evermemo.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zhan_dui.evermemo.MemoActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <activity android:name="com.zhan_dui.evermemo.SettingActivity" >
        </activity>
        <activity
            android:name="com.evernote.client.android.EvernoteOAuthActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity android:name="com.zhan_dui.evermemo.FeedbackActivity" >
        </activity>
    </application>

</manifest>